@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
    font-family: Arial, Helvetica, sans-serif
}

header{
    background: #6dccaa;
    color: white;

}
nav{
    width: 100%;
    float: left;
    background: #85d4b7;
    height: auto;
}
 .links{
    margin-left: 9%;
    float: left;
}
nav img{
    float: left;
    padding: 15px 25px;
}

nav a{
    float: left;
    color: white;
    padding: 30px 10px;
    text-decoration: none;
    font-weight: 600;
}
.banner{
    text-align: center;
    float: left;
}

.banner img{
    width: 63%;
    display: inline-block;
    margin: 30px auto;
}

.informacion{
    width: 100%;
    float: left;
}

.informacion p{
    width: 31.3%;
    float: left;
    font-weight: 600;
    padding-left: 2%;
    margin: 5px 0;
}
.informacion p:nth-child(2){
   text-align: center;
}

.informacion .redes_sociales{
    width: 23.3%;
    float: left;
    margin: 5px 5%;
    padding-bottom: 30px;
}
.informacion .redes_sociales i{
    color: #6dccaa;
    background: white;
    padding: 5px;
    border-radius: 100%;
    width: 19px;
    text-align: center;
}


.info h1{
    margin: 30px 0 10px;
    font-size: 20px;
}
.info h2{
    color: #808080;
    margin: 10px 0;
    font-size: 14px;
}
.info p{
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.2;
    clear: both;
}
.info a{
   text-decoration: none;
   border: 2px solid black;
   color: black;
   padding: 6px;
   float: left;
   font-size: 14px;
   font-weight: 600;
   margin-top: 10px;
}
.info hr{
   width: 20%;
   border-bottom: 4px solid black;
}
.texto_izquierda{
    text-align: left;
    padding-left: 2%;
}
.texto_izquierda hr{
    float: left;
}
.texto_derecha{
    text-align: right;
    padding-right: 2%;
}
.texto_derecha hr{ 
   float: right;
   clear: both;
   margin: 20px 0;
}

footer{
    background: #e6e6e6;
    width: 100%;
    margin-top: 30px;
}
footer p{
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* ------------------- CONTACTO ------------------------ */

form{

}
.contacto{
    background: url('http://4.bp.blogspot.com/-UJZEEKJS8Mk/VGGdQgDS5QI/AAAAAAAAALE/E3pi830T0NM/s1600/149-photos-of-dogs-of-various-breeds.jpg');
    background-size: 100%;
}
input{
    width: 100%;
    padding: 5px 0px;
    margin: 10px 0;
    float: left;
    display: inline;
    border-radius: 5px;
}
input[type=submit]{
    margin: 15px 20%;
    background: #6dccaa;
    border-radius: 20px;
    border:none;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    width: 60%;
    transition: all 0.3s ease;
    cursor: pointer;
}
input[type=submit]:hover{
    margin: 15px 18%;
    background: #6dccbb;
    width: 64%;
    
}
label{
    color:black;
    font-size: 17px;
    width: 100%;
    margin: 2px 0;
    display: inline;
    float: left;
}
.contacto h2{
    text-align: center;
    font-size: 39px;
    width: 100%;
    font-family: 'Lobster', cursive;
    float: left;
    margin: 15px 0;
}
.contacto form{
    background: white;
    float: left;
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px 0;
    padding: 15px;

}
@media(max-width:960px){
    section{
        width: 100%;
    }
}